* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .totalWrapper{
     display: grid;
     grid-template-rows: 42px 252px 1fr 42px;
    grid-template-columns: 639px 513px;
    grid-template-areas: 
    "header header"
    "ul div1"
    "ul div2"
    "footer footer";
    margin: 0 auto;
     }

 