.creatingComponentWrapprer{
    width: 480px;
    height: 342px;
    margin-left: 10px;
    margin-top: 10px;
    grid-area: div1
}

.inputsList{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.inputsListItem{
    width: 236px;
    height: 29px;
}

.inputsList{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.inputsListItem:last-child>input{
padding-bottom: 46px;

}

.input{
width: 100%;
height: 100%;
background: #E8E8E8;
border-radius: 5px;
border: none;
font-family: Saira;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 19px;
padding-left: 26px;
}

.input:nth-child(2n-1){
margin-right: 11px;
}

.input:last-child {
margin-right: 0px;

}

.inputsListItem:not(:last-child) {
margin-bottom: 10px;
  }

.inputDescr{
   width: 100%; 
   height: 75px;
   display: flex;
   align-items: flex-start;
   padding-left: 0px;
}

.buttonWrapper{
display: flex;
justify-content: space-between;
width: 100%;
margin-top: 10px;
border-bottom:1px solid #C4C4C4 ;
padding-bottom: 16px;
}

.button{
width: calc(50% - 5px);
padding: 4px 22px;
height: 24px;
background: #696969;
border-radius: 5px;
text-transform: uppercase;
color: #FFFFFF;
}

