.header{
width: 1152px;
height: 42px;
background-color: #696969;
padding: 4px 16px;
display: block;

}

.headerText{
font-family: Saira Stencil One;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 38px;
color: #E8E8E8;
}