.statistics{
margin-top: 10px;
font-family: Saira;
font-style: normal;
color: #000000;
width: 100%;
padding-left: 12px;
grid-area: div2
}

.statisticsTitle{
font-weight: bold;
font-size: 18px;
line-height: 28px;
text-transform: uppercase;
}

.statisticsParagraph{
font-weight: normal;
font-size: 14px;
line-height: 22px;
text-transform: capitalize;
display: block;
}

span{
font-weight: bold;
}

.lastParagraph{
    text-transform: none;
}

