.footer{
padding: 10px;
width: 1152px;
height: 42px;
display: inline-block;
background: #696969;
font-family: Saira;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 31px;
grid-area: footer;
text-align: right;
margin-top: 10px;
vertical-align: top;
}

.footerTextName, .footerTextDeveloper{
color: #FFFFFF;
margin-left: 10px;
display: inline-block;
width: auto;
height: auto;
vertical-align:middle;
margin-top: -10px;
       }

.footerTextDeveloper{
color: #CBCACA;;
margin-left: 0px;
       }